/*FIRSTVIEW START*/
.firstView{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.firstView__container{
    width: 100%;
    max-width: 1280px;
    height: 600px;
    background-image: url(../img/firstview_image_konodon_for_smartphon_w768_h600_ver2-02.png);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

    .firstView__container__text{
        width: 350px;
        height: 600px;
        position: relative;
    }

        .firstView__container__text h1{
            font-family: "Kaisei Decol", serif;
            font-weight: 700;
            font-style: normal;
            font-size: 20px;
            width: 19rem;
            line-height: 2rem;
            position: absolute;
            top: 20px;
            color: #343434;
            text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
        }

            .textRed{
                color: #e4007f;
            }

            .textLarge{
                font-size: 28px;
            }

        .firstView__container__text__ctaBtn{
            background-color: #009944;
            display: inline-block;
            padding: 10px;
            border-radius: 10px;
            position: absolute;
            top: 230px;
        }

            .firstView__container__text__ctaBtn p{
                font-family: "Noto Sans JP", sans-serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 20px;
                color: #fcfcfc;
            }

        .firstView__container__text__description{
            position: absolute;
            top: 400px;
        }

            .firstView__container__text__description h2, .firstView__container__text__description p{
                font-family: "Noto Sans JP", sans-serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 20px;
            }

            .firstView__container__text__description p{
                margin-top: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.3rem;
            }

/*DESKTOP --FIRSTVIEW--*/
@media(min-width: 768px){
    .firstView__container__text__description p{
        font-size: 20px;
        line-height: 1.5rem;
    }

    .firstView__container__text__description h2{
        font-size: 24px;
    }

    .firstView__container__text__description{
        top: 350px;
    }

    .textLarge{
        font-size: 48px;
    }

    .firstView__container__text h1{
        font-size: 32px;
        width: 32rem;
        line-height: 3rem;
    }

    .firstView__container__text{
        width: 768px;
        height: 550px;
    }    

    .firstView__container{
        background-image: url(../img/firstview_image_konodon_w1280_h600.png);
        height: 550px;
    }   
}
/*FIRSTVIEW END*/

/*SHOPLIST START*/
.shopList{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.shopList__container{
    width: 350px;
    max-width: 1280px;
    height: auto;
}

    .shopList__container__inner{
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

        .shopList__container__inner__shop{
            width: 110px;
            height: 110px;
            background-size: cover;
            background-position: center;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
            position: relative;
        }

            .shopList__container__inner__shop .shopList__label, .shopList__container__inner__shop .shopList__category{
                font-family: "Noto Sans JP", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                background-color: #ff0000;
                color: #ffffff;
                display: inline-block;
                position: absolute;
                top: 5px;
            }

            .shopList__container__inner__shop .shopList__label{
                right: -5px;
            }

            .shopList__container__inner__shop .shopList__category{
                top: 90px;
                color: #343434;
                background-color: #d9d9d9;
                left: -5px;
                padding-left: 5px;
                padding-right: 5px;
            }

            .shopList__container__inner__shop .category__uranai{
                background-color: #96DDE3;
            }

            .shopList__container__inner__shop .category__sejutsu{
                background-color: #EE87B4;
            }

            .shopList__container__inner__shop .category__shoku{
                background-color: #D8E698;
            }

            .shopList__container__inner__shop .category__akuse{
                background-color: #FFF67F;
            }

        .shopList__container__inner a:hover{
            cursor: pointer;
        }

        .shopList__container__inner a:hover .shopList__container__inner__shop{
            box-shadow: none
        }
        
        /*FIRST ROW*/
        .firstRow__left{
            background-image: url(../img/taoyaka_w200_h200.jpg);
        }

        .firstRow__center{
            background-image: url(../img/himari_w240_h240.jpg);
        }

        .firstRow__right{
            background-image: url(../img/bikotsu_w240_h240.jpg);
        }

        /*SECOND ROW*/
        .secondRow__left{
            background-image: url(../img/popo_w240_h240.jpg);
        }

        .secondRow__center{
            background-image: url(../img/hakoniwa_w240_h240.jpg);
        }

        .secondRow__right{
            background-image: url(../img/kamosu_w240_h240.jpg);
        }

        /*THIRD ROW*/
        .thirdRow__left{
            background-image: url(../img/tenno_w240_h240.jpg);
        }

        .thirdRow__center{
            background-image: url(../img/liberta_w240_h240.jpg);
        }

        .thirdRow__right{
            background-image: url(../img/okoto_w240_h240.jpg);
        }

        /*FORTH ROW*/
        .forthRow__left{
            background-image: url(../img/enlace_w240_h240.jpg);
        }

        .forthRow__center{
            background-image: url(../img/sleep_w240_h240.jpg);
        }

        .forthRow__right{
            background-image: url(../img/mano_w240_h240.jpg);
        }

/*DESKTOP --SHOPLIST--*/
@media(min-width: 768px){
    .shopList__container__inner__shop .shopList__label, .shopList__container__inner__shop .shopList__category{
        font-size: 20px;
    }

    .shopList__container__inner__shop .shopList__category{
        top: 200px;
    }

    .shopList__container__inner__shop{
        width: 240px;
        height: 240px;
    }

    .shopList__container__inner__flame p{
        margin-top:5px;
    }

    .shopList__container__inner__flame{
        height: 270px;
        width: 240px;
    }

    .shopList__container__inner{
        height: 280px;
        gap: 8px;
    }

    .shopList__container{
        width: 768px;
    }
}

/*SHOPLIST END*/