/*FIRSTVIEW START*/
.firstView{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.firstView__container{
    width: 100%;
    height: 600px;
    background-image: url(../img/firstview_image_konodon_for_smartphon_w768_h600_ver2-02.png);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

    .firstView__container__text{
        width: 350px;
        height: 600px;
        position: relative;
    }

        .firstView__container__text h1{
            font-family: "Kaisei Decol", serif;
            font-weight: 700;
            font-style: normal;
            font-size: 20px;
            width: 19rem;
            line-height: 2rem;
            position: absolute;
            top: 20px;
            color: #343434;
            text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
        }

            .textRed{
                color: #e4007f;
            }

            .textLarge{
                font-size: 28px;
            }

        .firstView__container__text__ctaBtn{
            background-color: #009944;
            display: inline-block;
            padding: 10px;
            border-radius: 10px;
            position: absolute;
            top: 230px;
        }

            .firstView__container__text__ctaBtn p{
                font-family: "Noto Sans JP", sans-serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 20px;
                color: #fcfcfc;
            }

        .firstView__container__text__description{
            position: absolute;
            top: 400px;
        }

            .firstView__container__text__description h2, .firstView__container__text__description p{
                font-family: "Noto Sans JP", sans-serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 20px;
            }

            .firstView__container__text__description p{
                margin-top: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.3rem;
            }
/*FIRSTVIEW END*/

/*SHOPLIST START*/
.shopList{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.shopList__container{
    width: 350px;
    height: auto;
}

    .shopList__container__inner{
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

        .shopList__container__inner__shop{
            width: 110px;
            height: 110px;
            background-size: cover;
            background-position: center;
        }
        
        /*FIRST ROW*/
        .firstRow__left{
            background-image: url(../img/taoyaka_w200_h200.jpg);
        }

        .firstRow__center{
            background-image: url(../img/himari_w200_h200.jpg);
        }

        .firstRow__right{
            background-image: url(../img/bikotsu_w200_h200.jpg);
        }

/*SHOPLIST END*/